<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/login.css">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <section class="wrapper">
            <header>
                <div class="MA">
                    <span>MA</span>
                </div>
                <h1>Welcome back!</h1>
                <br>
                <h2>User Login</h2>
            </header>
            <section class="main-content">
                <form action="/doctor/login" method="POST">
                    <input type="email" name = "email" placeholder="Email">
                    <div class="line"></div>
                    <input type="password" name="password" placeholder="Password">
                    <div class="line"></div>  
                    <br>
                    <button>Login</button>
                </form>
            </section>
            <footer>
                <p><a href="/forgetpassword" title="Forgot Password">Forgot Password?</a></p>
                <p><a href="/register" title="Register">Register</a></p>
            </footer>
        </section>
    </section>
</body>

</html>