body{
    text-align: center;
    background-color: #EFF5F5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin: 80px ;
  }
  
  
  
  
  
  a.fontt {
    
    font-family: "Times New Roman", Times, serif;
  
  }
  
   .overlay {
    position: relative; 
    bottom: 61px;
    left:100px; 
    color: #f1f1f1; 
    width: 50%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .container {
    position: relative;
    width: 50%;
    max-width: 300px;
    text-align: center;
  }
  
  
    .container-fluidd{
      padding:3% 15% 7%;
      width: 100%;
      margin: auto;
    } 
  
  
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    input[type=Password], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=email], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    
    input[type=submit] {
      width: 100%;
      background-color: #007fbf;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    input[type=button] {  
       width: 100%;
      background-color: #007fbf;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #0973f6;
    }
    
    input[type=button]:hover {
      background-color: #0973f6;
    }
    
    .div1 {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      position:relative;
      top:60px;
    }
  
  
  
  
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    } 
     
     td, th {
      border:   1px solid #007fbf;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #007fbf ;
    }
  
  
  
    .left-password{
    margin-left: 1050px;
    color: #007fbf ;
  
    color:#007fbf
    }
  
    .left-password:hover{
      text-decoration: none;
      color:#0973f6
  
    } 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  body {
      /* background: linear-gradient(-45deg, #d4d4d4, #ffffff, #23a6d5, #0298EC); */
      background-size: 400% 400%;
      animation: anim 8s ease infinite;
      height: 100vh;
      font-family: sans-serif;
      margin: 0;
      margin-top:0vh;
  }
  
  header .container {
      padding: 32px;
      width: 100%;
      display: flex;
      white-space: nowrap;
      align-items: center;
      position: absolute;
  }
  
  
  .container {
      width: 100%;
      margin: 0 auto;
      color: #000000;
      font-size: large;
      font-family: sans-serif;
      position: absolute;
  }
  
  #welcome{
      color: #0298EC;
      margin-left: 70px;
      margin-right: 1590px;
  }
  
  
/*   
  @keyframes anim {
      0%{
          background-position: 0 50%;
      }
      50%{
          background-position: 100% 50%;
      }
      100%{
          background-position: 0 50%;
      }
      
  } */
  
  .boxs {
  
      height: 210px;
      background: white;
      color: #000000;
      margin-right: 10px;
      margin-bottom: 10px;
      text-align: center;
      border-radius: 16px;
      box-shadow: 1px 10px 13px -7px #000000, 8px 3px 15px 5px rgba(5, 4, 4, 0);
      z-index: 99;
  }
  
    .container{
        margin-top: 90px;
        display: flex;
        padding: 150px;
        white-space: nowrap;
        flex-wrap: wrap;
        position: static;
    }
  
  .box1 {
  
      margin-left: 350px;
      width: 20%;
      position: relative;
      border: solid 4px #0298EC;
  }
  
  .box2 {
  
      width: 20%;
      position: relative;
      border: solid 4px #0298EC;
  }
  
  .box3 {
      margin-left: 350px;
  
      width: 20%;
      position: relative;
      border: solid 4px #0298EC;
  }
  
  .box4 {
      width: 20%;
      position: relative;
      border: solid 4px #0298EC;
  }
  
  
  
  .boxs button{
      border: #fff;
      background-color: white;
      cursor:grab;
      text-align: center;
  }
  .box1 img{
      margin-top: 8px;
      margin-bottom: 12px;
  
  }
  
  .box2 img{
      margin-top: 12px;
      margin-bottom: 23px;
  
  }
  .box3 img{
      margin-top: 8px;
      margin-bottom: 12px;
  
  }
  
  .box4 img{
      margin-top: 10px;
      margin-right: 30px;
  }
  
  
  .footer1{
      color:#777;
      margin-top: 1000px;
      margin-left: 1000px;
      position: fixed;
  }
  
  .right-nav{
    margin-left: 750px;
  }