<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/login.css">
    <title>Document</title>
</head>

<body>
    
    <section class="container">
        
        <section class="wrapper">
            <div class="MA" style="margin-bottom: 12px;">
                <span>MA</span>
            </div>
            <div class="cont" style="margin-top: 100px;">
                <button><a href="/doctor/register">Doctor Register</a></button>
                <button><a href="/patient/register">Patient Register</a></button>
                <button><a href="/nurse/register">Nurse Register</a></button>
            </div>
            <footer>
                <p><a href="" title="Forgot Password">Forgot Password?</a></p>
            </footer>
        </section>
    </section>
</body>

</html>