<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/forgetpassword.css">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <section class="wrapper">
            <header>
                <h1>Forgot Password</h1>
                <br>
                <h3>Enter the email you signed up with and we will send you reset instructions.</h3>
            </header>
            <section class="main-content">
                <form action="/forgetpassword" method="POST">
                    <input type="email" name="email" placeholder=" Your e-mail">
                    <div class="line"></div>
                    <input type="id" name="id1" placeholder="ID">
                    <div class="line"></div>
                    <input type="password" name="password" placeholder="New Password">
                    <div class="line"></div>
                    <input type="password" name="confirm" placeholder="Confirm Password">
                    <div class="line"></div>
                    <br>
                    <button type="submit">Reset my password</button>
                </form>
            </section>
        </section>
    </section>
</body>

</html>