<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/login.css">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <section class="wrapper">
            <div class="cont">
                <button><a href="/doctor/login">Doctor Login</a></button>
                <button><a href="/patient/login">Patient Login</a></button>
                <button><a href="/nurse/login">Nurse Login</a></button>
            </div>
            <footer>
                <p><a href="/forgetpassword" title="Forgot Password">Forgot Password?</a></p>
                <p><a href="/register" title="Register">Register</a></p>
            </footer>
        </section>
    </section>
</body>

</html>